:root{
  --transparent: rgba(0,0,0,0);

/*Dark Theme*/
  --dark-background: #2e2e2e;
  --dark-text: #dddddd;
  --dark-server-list: #292929;
  --dark-profile-tab: #1f1f1f;
  --dark-direct-messages: #2c2c2c;
}

body{
  background-color: var(--dark-background);
  color: var(--dark-text);
}

#servers-tab{
  background-color: var(--dark-server-list);
  float: left;
  height: 90vh;
  width: 75px;
  overflow-y: scroll;
}

#servers-tab-content{
  overflow-y: scroll;
}

#servers-tab img{
  width: 50px;
  height: 50px;
  padding: 5px;
}

#servers-tab img:hover{
  width: 50px;
  height: 50px;
  padding: 5px;
}

#direct-messages-tab{
  background-color: var(--dark-direct-messages);
  float: left;
  width: 175px;
  padding-right: 5px;
  height: 90vh;
  overflow-y: scroll;
}

#direct-messages-tab img{
  width: 35px;
  height: 35px;
  padding: 5px;
}

.friends-tab{
  
}

#profile-tab{
  position: fixed;
  bottom: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#profile-tab button{
  background-color: var(--transparent);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#profile-tab button:hover{
  background-color: rgb(24, 24, 24);
}