:root{
/* both */
  --transparent: rgba(0, 0, 0, 0);

/*Dark Mode Colours*/
  --d-background: #252525;
  --d-servers-list:#1d1d1d;
  --d-text: #ebebeb;

/*Light Mode Colours*/
  --l-background: #e4e4e4;
  --l-servers-list: #dddddd;
  --l-text: #161616;
}

body{
  background: var(--d-background);
}

.servers{
overflow-x: scroll;
float: left;
padding: .5%;
background-color: var(--d-servers-list);
}

.servers button{
  background-color: var(--transparent);
  border: 0;
  cursor: pointer;
}

.direct-messages{
  overflow-x: scroll;
  float: left;
}

.direct-messages button{
  background-color: var(--transparent);
  border: 0;
  cursor: pointer;
}