/* for the variables */
:root{
  
}

/* Body parts that dont change */
body{
  
}

/* appearance and structure of important tabs */
.home-tab{
  max-width: 75px;
  border-radius: 15px;
  margin: 0;
}

.home-tab ul{
  list-style-type: none;
  margin: none;
  padding: 12px;
}

.home-tab img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: fill;
}

.home-tab img:hover{
  transition: .3s;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}

.guilds-tab{
  max-width: 75px;
  background-color: rgb(59, 59, 59);
  border-radius: 15px;
}

.guilds-tab ul{
  list-style-type: none;
  margin: none;
  padding: 12px;
}

.guilds-tab li{
  padding-top: 5px;
}

.guilds-tab img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: fill;
}

.guilds-tab img:hover{
  transition: .3s;
  box-shadow: 0 0 5px 5px #ffffff80;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.direct-messages-tab{}

.friends-list{}

.account-tab{}


/* settings tabs */
.settings-tab{}

.account-tab{}

.profile-tab{}

.appearance-tab{}

.accessibility-tab{}

.language-tab{}

.safety-tab{}
